extends layout

block content
  h1= title
  p ¿Borrar la actividad #[span#spaActividad] de #[span#spaMateria] ?

  form(method="post", action="/delActividad")
    input#hidMateria(type="hidden", name="matnombre")
    input#hidActividad(type="hidden", name="actnombre")

    button(type="submit") Si, borrar
    &nbsp
    a#aCancelar(href="/agenda") No, Cancelar

block append scripts
  script(src="/javascripts/borrarActividad.js")
