doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block header
      #divTop
        #divMenu
          ul
            li: a(href="/agenda") Agenda
            li: a(href="/materias") Materias
        span#fechaTop= new Date()
        #divOpciones
          span#spaResaltarColaborativos Resaltar colaborativos abiertos: #[a#aResaltarColaborativos(href="#") OFF] | &nbsp
          span#spaVerTotales Ver totales: #[a#aVerTotales(href="#") OFF] &nbsp
    block content
    block scripts
      script(src="/javascripts/jquery.min.js")
      script(src="/javascripts/helpers.js")
      script(src="/javascripts/global.js")
