doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #fechaTop= new Date()
    block content
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/helpers.js")
    script(src="/javascripts/global.js")
