extends layout

block content
  h1= title

  span Semestre: #[span#spaSemestre -]
  br
  span Materia: #[span#spaMateria -]
  form(name="modificarMateria", method="post", action="updateMateria")
    input(type="hidden", name="semestre")
    input(type="hidden", name="matnombre")
    label(for="matcodigo") C贸digo de materia:
    input(type="text", name="matcodigo", placeholder="C贸digo de materia")
    br
    label(for="grucodigo") C贸digo de grupo:
    input(type="text", name="grucodigo", placeholder="C贸digo de grupo")
    br
    label(for="tutnombre") Nombre de tutor:
    input(type="text", name="tutnombre", placeholder="Nombre de tutor")
    br
    button(type="submit") Guardar
    &nbsp
    a(href="/materias") Cancelar
