body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: ghostwhite;
}

a {
  color: #00B7FF;
}

#divTop {
  position: fixed;
  top: 0;
  width: 90%;
  background-color: lavender;
  border: 1px solid;
  border-color: gray;
}

#divMenu {
  float: left;
}
#divMenu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#divMenu li {
  display: inline;
  padding-left: 10px;
 padding-right: 10px;
  font-weight: bold;
}

#divOpciones {
    display: inline;
    font-size: 90%;
    float: right;
    padding-right: 2px;
}
#divOpciones ul {
    padding: 0;
    list-style: none;
    display:inline;
}
#divOpciones ul li {
    float: left;
    width: 300px;
    text-align: right;
    line-height: 21px;
}
#divOpciones ul li span {
    display: block;
    padding: 5px 10px;
}
#divOpciones ul li span:hover {
    /*color: #fad;*/
}
#divOpciones ul li ul {
    display: none;
}
#divOpciones ul li:hover ul {
    display: block;
}

#fechaTop {
  background-color: violet;
}

#divProximos {
  font-size: 12pt;
    width: 50%;
/*display: none;*/
}

/* formato de celda segun dias para fin de actividad */
.cAbierta {
  background-color: limegreen;
}
.c15dias {
  background-color: LemonChiffon;
}
.c5dias {
  background-color: lightcoral;
}
.cCerrada {
  background-color: gray;
  /*background-color: gainsboro;*/
}
.cEntregada {
  background-color: dodgerblue;
}
td.resaltado {
  background-color: MediumTurquoise;
}

table {
  font-size: 10pt;
  /*border: 1px solid black;*/
}
td, th, td {
  text-align: center;
  border: 1px solid black;
  border-color: gray;
  border-radius: 2px;
}
#divTablasAgenda {
  width: 100%;
}
caption {
  font-size: 13pt;
  font-weight: bold;
}
.unaTabla {
  width: 50%;
  float: left;
}
th.modifborrar {
  width: 0.5%;
}
th.descripcion, th.actnombre {
  width: 20%;
}

table.agenda tfoot { 
  display: none;
}
tfoot td {
  text-align: left;
}

.total {
  text-align: center;
}

.comando {
  text-align: left;
}
